# colcon
build/
install/
log/

# compilati
*.o
*.a

# dati generati da sessioni reali
dmp_weights.yaml
demo_raw.csv
dmp_weights_*.yaml
demo_raw_*.csv
*.png

# dati generati da sessioni di test
pinocchio_test/
tools/
scripts/
real_demo/
references/
scripts/
slides_material/